@tailwind base;
@tailwind components;
@tailwind utilities;



.App {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.title {
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 30px;
}